body {
    background-color: gray;
}

.container {
    background-color: gray;
    width:100%;
    text-align: center;
    display: inline-block;
    margin-left: 10%;
    
}

.header {
    background-color: beige;
    width: 75%;
    padding: 25px;
    margin-left: 20px;
}

.nav {
    background-color: beige;
    width: 75%;
    padding: 25px;
    margin: 20px;
}

.section {
    background-color: beige;
    width: 75%;
    padding: 20px;
    margin: 20px;
    width: 40%;
    height: 40;  
}

.aside { 
    background-color: beige;
    width: 75%;
    padding: 20px;
    margin: 20px;
}